<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login Page</title>
	<link rel="stylesheet" th:href="@{/login_register/fonts/material-icon/css/material-design-iconic-font.min.css}">
	<link rel="stylesheet" th:href="@{/login_register/css/style.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img th:src="@{/login_register/images/signin-image.jpg}" alt="sing up image"></figure>
                        <a th:href="@{/}" class="signup-image-link" style="color: red; font-size: 18px">Back to Home</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Create New Password</h2>
                        <form method="POST" class="register-form" id="login-form" th:action="@{/updatePassword}" th:object="${forgotPassword}">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" th:field="*{username}" id="your_username" placeholder="Your Username"/>
                            </div>
                            <div class="form-group">
                                <label for="codeNumber"><i class="zmdi zmdi-badge-check"></i></label>
                                <input type="number" th:field="*{codeNumber}" id="codeNumber" placeholder="Code Number"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" th:field="*{password}" id="your_pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re_pass"><i class="zmdi zmdi-key"></i></label>
                                <input type="password" name="re_password" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            
                            <div class="alert alert-danger" id="message" style="display: none;">
                            </div>
                            <div class="alert alert-danger" id="codeIncorrect" th:if="${codeIncorrect!=null}"
                            		th:text="${codeIncorrect}">
                            </div>
                            
                            <div class="form-group form-button">
                                <input type="submit" name="signin" style="width: 100%" id="signin" class="form-submit" value="Update Password"/>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </section>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			console.log([[${session.codeNumber}]]);
			$('form').submit(function() {
				var codeSS = [[${session.codeNumber}]];
				var codeEnterd = $('#codeNumber').val();
				var pass = $('#your_pass').val();
				var rePass = $('#re_pass').val();
				if(codeSS!=codeEnterd){
					$('#message').show();
					$('#message').text('Bạn nhập mã code không đúng');
					return false;
				};
				if (pass.length<6) {
					$('#message').show();
					$('#message').text('Mật khẩu phải lớn hơn hoặc bằng 6 ký tự');
					return false;
				}
				if (pass != rePass) {
					$('#message').show();
					$('#message').text('Mật khẩu nhập lại không trùng khớp');
					return false;
				}
				$('#message').removeClass('alert alert-danger');
				$('#message').addClass('alert alert-success');
				$('#message').show();
				$('#message').text('Mật khẩu mới của bạn đang được xử lý');
				return true;
			});


		});
	</script>
</body>
</html>